/* Our CSS file. */
/*reset file start*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: inherit;
    text-decoration: none;
}

/*reset file end*/

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background-color: lightblue;
    color: white;
    height: 50px;
    padding: 0 25px;
}
header nav{
    float: right;
}
header h1{
    float: left;
    text-indent: -999px;
    background:url(/Nisar-Assignments/src/Assignment-4/Images/Allpics/Logo.png) no-repeat;
    background-size: cover;
    height: 35px;
    width: 35px;
    margin: 8px;   
}
nav li{
    display: inline-block;
    padding: 15px 10px;

}
nav a{
    color: white;
}
nav li:hover{
    background-color: #3f8da7;
}
#hero{
    background: url(/Nisar-Assignments/src/Assignment-4/Images/Allpics/Backgroung.jpg) no-repeat;
    text-align: center;
    background-size: cover;
    padding:50px 0px;
    margin-bottom: 50px;

}
#hero img{
  border: 5px solid lightblue;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
#hero h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.btn{
    background-color: white;
    border: #3f8da7;
    color: #3f8da7;
    margin-top: 40px;
    padding:5px 10px;
    text-decoration: none;
}
.btn:hover{
padding: 5px 10px;
background-color: #3f8da7;
color: white;
}
.three-col{
    width: 30%;
    display: inline-block;
    text-align: center;
    vertical-align: top ;
    margin: 0px 0px ;    
}
.three-col img{  
    border-radius: 50%;
    border:3px solid #3f8da7;
    height: 200px;
    width: 200px;
}
.three-col .btn{
     display: inline-block  ;
}
footer{
    background-color: #3f8da7;
    color: white;
    margin-top: 40px;
    padding: 20px 0px;
    text-align: center;
}
footer ul{
    margin: 40px 0;

}
footer li{
    display: inline-block;
    margin: 0 30px;
}